<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>webtail: {{ filename }}</title>
</head>

<body>
	Last Update Time: <span id="time"></span>
	<hr>
	<div id="content"></div>
</body>

<script>
	const url = window.location.host;
	const socket = new WebSocket(`ws://${url}/ws`);
	socket.addEventListener("open", function (event) {
		socket.send("Hello, Server!");
	});

	socket.addEventListener("message", function (event) {
		console.log("Message from server");
		const content = JSON.parse(event.data);
		const time = new Date(content.time.secs_since_epoch * 1000);
		document.getElementById("time").innerText = time.toLocaleString("zh-CN");
		var div = document.getElementById("content");
		div.innerText += content.text;
		div.innerText += "\n";
	});
</script>

</html>